@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Roboto&family=Mate+SC&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  position: sticky !important;
}

.navbar{
  background-color: #b77941 !important;
  z-index: 1;
  padding: 0;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  padding: 0;
  color: white !important;
  position: sticky !important;
}

.navbar-brand span {
  font-family: 'Mate SC', serif;
  color: #374939 ;
}

.navbar p {
  color: white;
  margin-right: 15px;
  margin-top: 15px;
}

.sidenav {
	height: 100%;
	width: 258px;
	position: fixed;
	top: 0px;
	left: 0;
	background-color: #374939;
	padding-top: 95px;
}

.divider {
  border-bottom: 2px solid #3e5241;
}

.divider-first {
	border-bottom: 2px solid #3e5241;
  margin-top: -28px;
}

.nav-pills a:hover {
  color: rgba(255, 255, 255, .6) ;
}

.nav {
  padding: 10px;
}

.nav span {
  margin-left: 7px;
}

.main {
  margin-left: 265px;
}

.table-color {
  background-color: #545a4e;
  color: white;
}

.table {
  margin-left: -7px;
  width: 101%;
}

.form-pegawai {
  font-size: 12px;
}

.form-pegawai span{
  color: red;
}

.form-tambah {
  background-color: #e3e8e9;
  margin-left: -7px;
  padding: 35px 0 2px 10px;
}

.form-tambah h6 {
  font-size: 14px;
  font-weight: bold;
}

.col-tambah2 {
  margin-left: 75px;
}

.form-pegawai input {
  height: 30px;
  margin-top: 10px;
}

.form-pegawai button {
  padding: 5px;
  margin: -20px 0 20px 901px;
  font-size: 15px;
}

.alert {
  padding: 5px !important;
  margin: 24px 0 0 -7px ;
}

label span {
  color: red;
}

.divider-end {
  margin-top: 140%;
  border-bottom: 2px solid #3e5241;
}

.modal-content {
  border-radius: 0px;
  margin-top: 170px;
}

.form-jenis {
  width: 78%;
  margin-left: 11px;
  height: 32px;
  margin-top: 10px;
}