@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Roboto&family=Mate+SC&display=swap');

body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

nav {
  position: sticky !important;
}

.navbar{
  background-color: #b77941 !important;
  z-index: 1;
  padding: 0;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  padding: 0;
  color: white !important;
  position: sticky !important;
}

.navbar-brand span {
  font-family: 'Mate SC', serif;
  color: #374939 ;
}

.navbar p {
  color: white;
  margin-right: 15px;
  margin-top: 15px;
}

.sidenav {
	height: 100%;
	width: 258px;
	position: fixed;
	top: 0px;
	left: 0;
	background-color: #374939;
	padding-top: 95px;
}

.divider {
  border-bottom: 2px solid #3e5241;
}

.divider-first {
	border-bottom: 2px solid #3e5241;
  margin-top: -28px;
}

.nav-pills a:hover {
  color: rgba(255, 255, 255, .6) ;
}

.nav {
  padding: 10px;
}

.nav span {
  margin-left: 7px;
}

.main {
  margin-left: 265px;
}

.table-color {
  background-color: #545a4e;
  color: white;
}

.table {
  margin-left: -7px;
  width: 101%;
}

.form-pegawai {
  font-size: 12px;
}

.form-pegawai span{
  color: red;
}

.form-tambah {
  background-color: #e3e8e9;
  margin-left: -7px;
  padding: 10px 0 2px 10px;
  margin-top: -16px;
}

.form-tambah h6 {
  font-size: 14px;
  font-weight: bold;
}

.form-tambah-pegawai {
	background-color: #e3e8e9;
	margin-left: -7px;
	padding: 10px 0 2px 10px;
}

.form-tambah-pegawai h6 {
	font-size: 14px;
	font-weight: bold;
}

.col-tambah2 {
  margin-left: 75px;
}

.form-pegawai input {
  height: 30px;
  margin-top: 10px;
  font-size: 12px;
}

.form-pegawai button {
  padding: 5px;
  margin: -20px 0 20px 901px;
  font-size: 15px;
}

.alert {
  padding: 5px !important;
  margin: -16px 0 0 -7px ;
}

label span {
  color: red;
}

.divider-end {
  margin-top: 79%;
  border-bottom: 2px solid #3e5241;
}

.modal-content {
  border-radius: 0px;
  margin-top: 65px;
}

.form-jenis {
  width: 78%;
  margin-left: 11px;
  height: 32px;
  margin-top: 10px;
}

.breadcrumb {
  background-color: #e9dacd;
  padding-left: 10px;
  margin-left: -7px;
}

.sidenav h6 {
  color: white;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 30px;
}

.grafik h6 {
  color: #505e51;
  margin-top: 30px;
}

.divider-grafik {
  border-bottom: 1px solid #9faaa1;
  width: 15%;
}

.grafik p {
  font-size: 12px;
  margin: 10px 0 -5px 0px;
  font-weight: bold;
}

.timezone {
  background-color: #b6c6c7;
  margin-left: -56px;
  width: 55%;
  height: 250px;
  margin-top: -16px;
}

.gf-pegawai {
  margin-top: -30px;
}

.th colspan {
  padding-left: 19px !important;
}

.calendar {
  padding: 10px
}

.timezone h5 {
  margin-top: 30px;
}

.timezone h1 {
  margin-left: 17px;
}

.timeimg img{
  width: 75%;
  margin-top: -30px;
  margin-left: 30px;
}

.chartimg img {
  width: 80%;
  margin: 10px 0 0 160px;
}

.input-cari {
  width: 70%;
  margin: 2px 0 22px 150px !important;
}

.input-cari input {
  height: 35px;
}

.btn-cari {
  border-color: #b77842;
  height: 35px;
}

.btn-cari:hover {
  background-color: #b77842;
  color: white;
}

.refresh {
  font-size: 25px !important;
  margin: -1px 0 0 13px !important;
  color: #374939;
}

.refresh:hover {
  color: #b77842;
}

.btn-excel {
  border-radius: 0;
  margin-left: -83px;
}

.btn-pdf {
  margin-left: -124px;
  border-radius: 0;
}

.page-link {
  color: #374939 !important;
  border-radius: 0 !important;
}

.active .page-link {
  background-color: #374939 !important;
  border-color: #374939 !important;
  color: white !important;
}

.total-rows {
  margin: 10px 0 0 0;
}

.input-role {
  height: 30px;
  font-size: 13px;
  width: 100%;
  margin-top: 10px;
}

.info-detail{
  font-weight: bold;
  margin-top: 5px;
  margin-left: -7px;
  border-bottom: 1px solid #804611;
}

.detail-pegawai {
  background:radial-gradient(circle, #d97817 0%, #d69c5e 65%, #d97817 84%); 
  font-weight: bold;
  color: white;
  height: 33px;
}

.detail-pegawai p {
  margin-top: 5px;
}

.after-add-more input {
  width: 97%;
  margin: 5px 0;
  border-color: #e3e9e9;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  height: 32px;
  font-size: 13px;
}

.after-add-more {
  background-color: #e3e9e9;
}

.value-input input {
	width: 97%;
	margin: 5px 0;
	border-color: #e3e9e9;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	height: 32px;
	font-size: 13px;
}

.value-input {
	background-color: #e3e9e9;
}

.copy input {
	width: 97%;
	margin: 5px 0;
	border-color: #e3e9e9;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	height: 32px;
  font-size: 13px;
}

.btn-tambah-inputan {
  padding: 3px;
  font-size: 10px;
  margin-top: -50px;
}

.button-simpan-pegawai button {
  padding: 7px 10px;
  font-size: 14px;
  background:linear-gradient(90deg, #b67127 20%, #cf7311 47%, #e68e36 72%, #b67127 100%);
  border: none;
}

.button-simpan-pegawai button:hover {
  color: rgba(255, 255, 255, .6);
}

.button-simpan-pegawai {
  margin-top: 5px;
  background-color: #e3e9e9;
  margin-left: -7px;
  padding: 15px 0 139px 7px;
}

.bg-edit-pegawai {
  background-color: #009788;
  border: none;
}

.bg-edit-pegawai:hover {
  color: rgba(255, 255, 255, .6);
}

.remove {
  font-size: 10px;
  padding: 1px;
  width: 4%;
  margin-left: 12px;
}

.has-error {
  color: #d9534f;
}

.has-error input {
  border-color: #d9534f;
}

/* gritter */
.gritter-top,
.gritter-bottom {
  display: none;
}

.gritter-item {
  position: relative;
  background-image: none;
  background-color: rgba(17, 19, 24, 0.95);
  border-radius: 2px;
  padding: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, .6);
}

.gritter-title {
  font-weight: bold;
  text-shadow: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.gritter-close {
  left: auto;
  right: 3px;
  background: none;
}

.gritter-close:before {
  text-indent: 0;
  content: '\f00d';
  position: absolute;
  font-family: 'FontAwesome';
  top: 0;
  right: 7px;
  color: #fff;
  font-size: 16px;
  opacity: .4;
}

.gritter-item-wrapper.with-icon>.gritter-item {
	padding-left: 60px;
	position: relative;
}

.gritter-item-wrapper.with-icon>.gritter-item:before {
	color: #fff;
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 28px;
	font-family: 'FontAwesome';
}

.gritter-item-wrapper.danger>.gritter-item {
	background-color: rgba(217, 83, 79, 0.9);
}

.gritter-item-wrapper.success>.gritter-item {
	background-color: rgba(37, 157, 171, 0.9);
}

.gritter-item-wrapper.with-icon.times-circle>.gritter-item:before {
	content: '\f057';
}

.gritter-item-wrapper.with-icon.check-circle>.gritter-item:before {
	content: '\f058';
}

/* .swal2-popup .swal2-title {
  margin: 0px;
  font-size: 16px !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
  top: -20px !important;
  text-align: left !important;
  margin-left: 0px !important;
  width: 111%;
  padding: 3px 5px !important;
}

.swal2-popup #swal2-content {
  font-size: 15px;
}

.swal2-popup .swal2-styled.swal2-cancel {
  height: 35px;
  width: 35%;
  padding: 0 15px !important;
  font-size: 14px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  height: 35px;
  font-size: 14px !important;
  width: 35%;
  padding-right: 69px !important;
}

.swal2-show{
  width: 30% !important;
} */

#modalDeletePegawai {
  margin-top: 11%;
}

.modal-header {
  padding: 8px 20px;
}

.modal-title {
  font-size: 15px;
  font-weight: bold;
  color: #3f3f3f !important;
}

.modal-header .btn-close {
  padding: 16px !important;
  font-size: 10px;
}

.modal-body {
  padding: 18px 20px;
  margin-bottom: -15px;
  font-size: 13px;
  color: #6e6e6e;
}

.modal-footer button{
  border-radius: 2px;
  font-size: 13px;
}

.btn-batal-hapus {
  border-color: #c4c4c4;
  color: #6e6e6e;
}

.btn-batal-hapus:hover {
  background-color: #eeeeee;
  color: #6e6e6e;
}

.btn-hapus-pegawai {
  background-color: rgba(217, 83, 79, 0.9);
  color: white;
}

.btn-hapus-pegawai:hover {
  background-color: rgba(223, 66, 61, 0.9);
  color: white;
}

.delete-pegawai {
  border-radius: 0;
  width: 86%;
}

.success {
  background-color: rgba(191, 234, 211, .7);
}

.dataTables_wrapper .dataTables_length {
	margin: -1px 570px;
}

.btn-group-pegawai {
  margin-bottom: -32px;
}

div.dataTables_wrapper div.dataTables_filter label {
  margin-right: 5px;
}

.page-item.active .page-link {
  background-color: transparent !important;
  color: #545a4e !important;
  border-color: transparent !important;
}

.btn-edit {
  background-color: #009688;
  margin-left: -42px;
  color: white;
  border-radius: 0;
  width: 86%;
}

.btn-edit:hover {
  color: white;
  background-color: #00786c;
}

.breadcrumb a:hover {
  color: rgba(255, 255, 255, .6) !important;
}

.detail-pegawai2 {
  padding-left: 50px;
  padding-right: 10px;
}

.detail-pegawai3 {
  width: 90%;
  margin-left: 5%;
}