@import url('https://fonts.googleapis.com/css2?family=Sacramento&family=Roboto&family=Nunito&family=Mate+SC&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
}

a {
	color: white !important;
  text-decoration: none;
}

.bg-nav {
	background-color: #48724b;
	padding: 0px;
}

.navbar-brand {
	font-family: 'Sacramento', cursive;
	font-size: 40px;
	padding: 0;
	color: white !important;
	position: sticky !important;
}

.navbar-brand span {
	color: #b77941 !important;
	font-family: 'Mate SC', serif;
	color: #374939;
}

.navbar-nav {
	margin-left: 40px;
}

.username {
	margin: 20px;
	color: white;
}

.nav-link {
	margin-left: 20px;
}

.table-orange {
	background-color: #b77941;
	color: white;
}

.table {
	margin-top: 30px;
	margin-left: 10px;
  width: 112%;
}

.btn-danger {
	border-radius: 0px !important;
	margin: -16px 0 -46px 10px;
}

.alert-danger {
	margin-left: 10px;
	border-radius: 0px;
	width: 112%;
	padding: 10px;
}

.cashier-out {
	color: red !important;
	font-weight: bold !important;
}

.form-pemesanan {
  background-color: #e1e4eb;
  margin-left: 104px;
  padding-bottom: 204px;
}

.form-pemesanan span {
  color: red;
}

.form-pemesanan h6 {
  margin-top: 20px;
}

.form-pemesanan label {
  font-size: 14px;
}

.form-pemesanan input,
.form-pemesanan button {
  border-radius: 0px;
}

.form-pemesanan input {
  height: 30px;
}

.sidenav {
	height: 100%;
	width: 258px;
	position: fixed;
	top: 0px;
	left: 0;
	background-color: #48724b;
}

.sidenav a:hover {
	color: rgba(255, 255, 255, .5) !important;
}

.daftar-menu h5 {
  color: white;
  font-weight: bold;
  letter-spacing: 8px;
  margin: 15px 0 10px 17px;
}

.divider{
  border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.nav-stacked h4 {
  color: white;
  margin: 5px 5px 5px 5px;
  font-size: 20px;
  letter-spacing: 5px;
}

.nav-stacked li {
  margin: 12px 0 0 20px;
}

.nav-stacked span {
  margin-left: 5px;
}

.divider-end {
	border-bottom: 1px solid rgba(255, 255, 255, .5);
  margin-top: 20px;
}

.nav-stacked img {
  width: 12%;
  margin-top: -10px;
}

.breadcrumb {
  background-color: #b77941;
}

.main {
  margin-left: 258px;
}

.bc {
  margin-left: 15px;
}

.breadcrumb li {
  color: white !important;
}

li.breadcrumb-item::before {
  color: white !important;
}

.row-menu {
	border: 1px solid rgba(72, 114, 76, .7);
	width: 100%;
	margin-left: 0px;
	padding: 6px 0;
	margin-top: 5px;
}

.row-menu img {
	width: 60%;
	margin-left: 20px;
}

.row-menu p {
	color: #514f50;
	text-align: justify;
	font-size: 12px;
}

.row-menu h5 {
	color: #b77842;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: -1px;
}

.row-menu h6 {
	margin: 23px 0 0 60px;
}

.h7 {
	font-size: 16px !important;
	margin: -3px 0 0 120px;
	font-weight: bold;
}

.row-menu a {
	margin: 27px 0 0 150px;
}

.row-menu a:hover {
	color: rgba(255, 255, 255, .5) !important;
}

.row-menu span {
	margin-left: 110px;
	font-weight: bold;
}

.footer-pesanan{
	background-color: #b77842;
}

.footer-pesanan {
	width: 2%;
	padding: 20px 48px 20px 25px;
	bottom: 0;
	position: fixed;
	margin: 0 0 20px 74%;
}

.footer-pesanan a:hover {
	color: rgba(255, 255, 255, .5) !important;
}

.divider-delete {
	border: 1px solid red;
	margin-top: 43%;
}

.delete-pelanggan button{
	color: red !important;
	letter-spacing: 10px;
	font-weight: bold;
	margin-left: 30px;
	background-color: transparent;
	border: none;
}

.delete-pelanggan a:hover {
	color: rgba(205, 0, 3, .5) !important;
}

.alert-cus .alert-success{
	color: white !important;
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-radius: 5px !important;
	width: 17% !important;
	font-size: 13px !important;
	margin: 200px 0 0 31% !important;
	position: absolute !important;
	text-align: center !important;
}

.data-pesanan {
	background-color: #dfdfdf;
	padding: 20px 0 15px 30px;
	margin-top: -16px;
}

.col-md-3 h6{
	font-weight: bold !important;
}

.menu {
	margin: 30px 0 0 50px;
}

.titik {
	margin-top: 30px;
}

.harga-cart {
	margin-top: 30px;
	font-weight: bold;
}

.divider-jumlah {
	border-bottom: 2px solid #535353;
	width: 82%;
	margin-left: 50px;
}

.total-item {
	margin: 5px 0 0 50px;
}

.subtotal{
	margin: 5px 0 0 285px;
}

.subtotal p {
	margin-bottom: 0px;
}

.btn-pesanan {
	margin-left: 707px;
	width: 238px;
	border-radius: 0px;
	margin-top: 20px;
}

.view-pesanan {
	background-color: #e1e4eb;
	margin-left: 104px;
	padding-bottom: 218px;
}

.view-pesanan h6 {
	margin-top: 20px;
	margin-bottom: 30px;
}

.view-pesanan label {
	font-size: 14px;
}

.view-pesanan input,
.view-pesanan button {
	border-radius: 0px;
}

.view-pesanan input {
	height: 30px;
	margin-top: -7px !important;
}

.view-pesanan .mb-3 {
	margin-top: -15px !important;
}

.nama-pelanggan,
.no_meja {
	margin-top: 25px;
}

.divider-data-pesanan {
	border-bottom: 1px solid #374939;
}

.daftar-pesanan {
	margin-top: -20px;
}

.total-pesanan p {
	margin-bottom: 0px;
}

.total-pesanan .col-md-9 {
	padding-left: 100px;
}

.total-pesanan .com-md-3 {
	margin-left: 64px;
}

.btn-antar {
	width: 100%;
	border-radius: 0px;
	margin-top: 40px;
}

.btn-tambah-pesanan {
	border-radius: 0px;
	margin-top: 10px;
	margin-bottom: -20px;
}

.input-cari {
	width: 50%;
	margin: 15px 0 0px 11px !important;
}

.input-cari input {
	height: 35px;
}

.btn-cari {
	border-color: #b77842;
	height: 35px;
}

.btn-cari:hover {
	background-color: #b77842;
	color: white;
}

.refresh {
	font-size: 25px !important;
	margin: -1px 0 0 13px !important;
	color: #374939 !important;
}

.refresh:hover {
	color: #b77842;
}

.btn-excel {
	border-radius: 0;
}

.btn-pdf {
	margin-left: -42px;
	border-radius: 0;
}

.page-link {
	color: #374939 !important;
	border-radius: 0 !important;
}

.active .page-link {
	background-color: #374939 !important;
	border-color: #374939 !important;
	color: white !important;
}

.total-rows {
	margin: 10px 0 0 10px;
}

.pagination {
	margin-left: 5px !important;
}